.vagrant
.project
.pydevproject
.idea
.settings
*.deb
*.pyc
*.jar
dist/*
*.swp
*.swo
private/*
*.retry
.vscode/*
**/.openvpn/*
test.yml
.DS_Store
*.log
**/*.iml
dist/*

vars/*-secrets.yml

.vault_pass